**/.classpath
**/.dockerignore
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
vendor
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
.idea
.gitlab-ci.yml
bootstrap/cache/*

!vendor/tightenco/ziggy